* {
  box-sizing: border-box;
}
.dropZone {
  background-color: lightgreen;
  border: 5px dashed black;
  height: 30vh;
  margin: 3%;
}

.dragableElement {
  background-color: lightseagreen;
  /* border: 5px double yellow; */
  height: 10vh;
  text-align: center;
  padding: 1%;
  margin: 2%;
}
